.circle-segments {
  background: white; }
  .circle-segments .pie-segment {
    -webkit-transition: all .25s;
    transition: all .25s;
    fill: #fff; }
    .circle-segments .pie-segment.value-segment {
      cursor: pointer;
      fill: #999; }
      .circle-segments .pie-segment.value-segment.selected {
        fill: teal; }
  .circle-segments .drag-arc {
    fill: grey;
    opacity: 0.5; }
    .circle-segments .drag-arc.dragging {
      opacity: 0.75; }
  .circle-segments .second-tick {
    stroke-width: 3;
    fill: #000; }
  .circle-segments #value-arc {
    pointer-events: none;
    z-index: 9999; }
