.rs-control {
  background: #fff;
  clip-path: circle(200px at center);
  /* OLD VALUE example: circle(245px, 140px, 50px); */
  /* Yep, even the new clip-path has deprecated stuff. */ }

.inner-circle-clip {
  background: #fff;
  /* width: 300px; */
  /* height: 300px; */
  position: absolute;
  z-index: 9999;
  border-radius: 50%;
  left: 52px;
  top: 53px;
  bottom: 53px;
  right: 53px; }

.circle-container {
  position: absolute;
  /* 1 */
  left: 50%;
  margin-left: -186px;
  width: 372px;
  height: 372px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* 2 */
  box-sizing: content-box;
  /* 3 */
  z-index: 998;
  transform: rotate(1deg); }
  .circle-container > * {
    /* 4 */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px; }
  .circle-container > :nth-of-type(1) {
    transform: rotate(158deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(2) {
    transform: rotate(179.66667deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(3) {
    transform: rotate(201.33333deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(4) {
    transform: rotate(223deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(5) {
    transform: rotate(244.66667deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(6) {
    transform: rotate(266.33333deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(7) {
    transform: rotate(288deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(8) {
    transform: rotate(309.66667deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(9) {
    transform: rotate(331.33333deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(10) {
    transform: rotate(353deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(11) {
    transform: rotate(374.66667deg) translate(186px) rotate(90deg); }
  .circle-container > :nth-of-type(12) {
    transform: rotate(396.33333deg) translate(186px) rotate(90deg); }

.circle-container .item {
  display: block;
  background: yellow;
  height: 60px;
  width: 60px;
  border-radius: 0;
  filter: grayscale(100%);
  z-index: 9999; }
  .circle-container .item:hover {
    filter: grayscale(0); }

.rs-handle {
  display: none; }
