    // @import "material-components-web/material-components-web";
    // output {
    //     position: absolute;
    //     background-image: linear-gradient(top, #444444, #999999);
    //     width: 40px;
    //     height: 30px;
    //     text-align: center;
    //     color: white;
    //     border-radius: 10px;
    //     display: inline-block;
    //     font: bold 15px/30px Georgia;
    //     bottom: 175%;
    //     left: 0;
    //     margin-left: -1%;
    // }
    // output:after {
    //     content: "";
    //     position: absolute;
    //     width: 0;
    //     height: 0;
    //     border-top: 10px solid #999999;
    //     border-left: 5px solid transparent;
    //     border-right: 5px solid transparent;
    //     top: 100%;
    //     left: 50%;
    //     margin-left: -5px;
    //     margin-top: -1px;
    // }
    // .demo-body {
    //     padding: 0;
    //     margin: 0;
    //     box-sizing: border-box;
    // }
    // /* A quick and simple toolbar, while we're waiting for mdc-toolbar. */
    // .demo-toolbar {
    //     width: 100%;
    //     height: 56px;
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     padding: 0 16px;
    //     box-sizing: border-box;
    // }
    // @media (min-width: 600px) {
    //     .demo-toolbar {
    //         height: 64px;
    //     }
    // }
    // /* A simple menu button. */
    // .demo-menu {
    //     background: none;
    //     border: none;
    //     width: 24px;
    //     height: 24px;
    //     padding: 0;
    //     margin: 0;
    //     color: #FFF;
    //     box-sizing: border-box;
    // }
    // .demo-main {
    //     padding-left: 16px;
    // }
    // /** CALCULATOR : START**/
    // // #calculator {
    // //     text-align: center
    // // }
    // /** CALCULATOR : END**/
    // /** ROUDN SLIDER: **/
    // .calculator-dial-wrap {
    //     // background: red;
    //     height: 400px;
    //     width: 400px;
    //     .calculator-dial {
    //         &.rs-control {
    //             // height: 100%!important;
    //             // width: 100%!important;
    //         }
    //     }
    // }
    .rs-control {
        // transform: rotate(-5deg);
        // .clip-circle {
        background: #fff;
        clip-path: circle(200px at center);
        /* OLD VALUE example: circle(245px, 140px, 50px); */
        /* Yep, even the new clip-path has deprecated stuff. */
    }
    
    .inner-circle-clip {
        background: #fff;
        /* width: 300px; */
        /* height: 300px; */
        position: absolute;
        z-index: 9999;
        border-radius: 50%;
        left: 52px;
        top: 53px;
        bottom: 53px;
        right: 53px;
    }
    
    // }
    // .rs-control .rs-range-color {
    //     background: transparent;
    // }
    // .rs-handle {
    //     box-sizing: border-box;
    //     background: transparent;
    //     pointer-events: none;
    //     // margin: 0 0px 0px 1px!important;
    // }
    // body,
    // .rs-inner {
    //     // background: #5D5766;
    // }
    // #slider {
    //     background: red;
    //     position: absolute;
    //     margin-top: 53px;
    //     left: 50%;
    //     -webkit-transform: translateX(-50%);
    //     transform: translateX(-50%);
    //     z-index: 3;
    // }
    // span.rs-number {
    //     position: absolute;
    //     top: -10px;
    //     left: 17px;
    //     font-size: 15px;
    //     color: #e1e1e1;
    //     font-weight: 600;
    // }
    // .rs-border {
    //     // border-color: white;
    //     &.rs-outer,
    //     &.rs-inner {
    //         border: none;
    //     }
    // }
    // .rs-path {
    //     background: #ffcc00;
    // }
    // .rs-control .rs-path-color,
    // .rs-control .rs-bg-color {
    //     background-color: #fff;
    // }
    // .rs-control .rs-bg-color {
    //     // background-color: red;
    // }
    // .rs-control .rs-overlay {
    //     background: #999;
    //     z-index: 6;
    //     // display: none
    // }
    // .rs-bar.rs-custom {
    //     border-color: red;
    //     // pointer-events: none;
    //     z-index: 5;
    // }
    // .rs-bar.rs-end,
    // .rs-bar.rs-start {
    //     // display: none;
    //     span {
    //         border-color: red;
    //         border-width: 20px;
    //         border: none;
    //     }
    // }
    // .rs-control svg {
    //     left: 0;
    //     // pointer-events: none;
    //     position: absolute;
    //     z-index: 6;
    // }
    // .rs-control circle {
    //     /* mention the range color here */
    //     stroke: red;
    // }
    // .rs-tooltip {
    //     z-index: 20;
    // }
    // .rs-tooltip-text {
    //     font-size: 30px;
    // }
    // .rs-bar .rs-seperator {
    //     // pointer-events: none;
    //     // border-bottom: 30px solid white;
    //     // border-top: 20px solid white;
    //     // width: 30px;
    // }
    // .rs-number {
    //     color: black!important;
    // }
    /// Mixin to put items on a circle
    /// [1] - Allows children to be absolutely positioned
    /// [2] - Allows the mixin to be used on a list
    /// [3] - In case box-sizing: border-box has been enabled
    /// [4] - Allows any type of direct children to be targeted
    /// 
    /// @param {Integer} $nb-items - Number or items
    /// @param {Length} $circle-size - Container size
    /// @param {Length} $item-size - Item size
    /// @param {String | false} $class-for-IE - Base class name for old IE
    @mixin distribute-on-circle( $nb-items, $circle-size, $item-size, $class-for-IE: false) {
        $half-item: ($item-size / 2);
        $half-parent: ($circle-size / 2);
        position: absolute;
        /* 1 */
        left: 50%;
        margin-left: -$circle-size/2;
        width: $circle-size;
        height: $circle-size;
        padding: 0;
        border-radius: 50%;
        list-style: none;
        /* 2 */
        box-sizing: content-box;
        /* 3 */
        >* {
            /* 4 */
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: $item-size;
            height: $item-size;
            margin: -$half-item;
        }
        $angle: (260 / $nb-items);
        $rot: 158;
        @for $i from 1 through $nb-items {
            @if not $class-for-IE {
                > :nth-of-type(#{$i}) {
                    transform: rotate($rot * 1deg) translate($half-parent) rotate(90deg);
                }
            }
            @else {
                >.#{$class-for-IE}#{$i} {
                    // If CSS transforms are not supported
                    $mt: sin($rot * pi() / 180) * $half-parent - $half-item;
                    $ml: cos($rot * pi() / 180) * $half-parent - $half-item;
                    margin: $mt 0 0 $ml;
                }
            }
            $rot: ($rot + $angle);
        }
    }
    
    .circle-container {
        @include distribute-on-circle(12, 372px, 60px, false);
        // margin: 5em auto 0;
        // border: solid 5px tomato;
        z-index: 998;
        transform: rotate(1deg);
    }
    
    .circle-container .item {
        display: block;
        background: yellow;
        height: 60px;
        width: 60px;
        border-radius: 0;
        filter: grayscale(100%);
        z-index: 9999;
        &:hover {
            filter: grayscale(0);
        }
    }
    
    .rs-handle {
        display: none;
    }
    
    .rs-segment-wrap {
        background: red;
        display: block;
        line-height: 50px;
        text-align: center;
        position: absolute;
        z-index: 999;
    }
    
    #circle-segments {
        position: relative;
        z-index: 999;
        left: 50%;
        top: 50%;
        margin-left: -198px;
        margin-top: -198px;
    }