    .circle-segments {
        background: white;
        .pie-segment {
            -webkit-transition: all .25s;
            transition: all .25s;
            fill: #fff;
            &.value-segment {
                cursor: pointer;
                fill: #999;
                &.selected {
                    fill: teal
                }
            }
        }
        .drag-arc {
            fill: grey;
            opacity: 0.5;
            &.dragging {
                opacity: 0.75
            }
        }
        .second-tick {
            stroke-width: 3;
            fill: #000;
        }
    }